*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Playfair Display', serif;
    background-color:rgb(255, 239, 253);
}

 img{
    max-height: 250px;
    width: 100%;
    
}
.bg-customize{
    background-color: #7DA7D9;
    border-radius: 0.3em;
}

.navbar a:hover{
    background-color: #8493CA;
    color: aliceblue;
}

.custom-dropdown .dropdown-menu {
    display: none;
}

.custom-dropdown:hover .dropdown-menu {
    display: block;
}
.baby{
    width: 100px;
    height: auto;
}
#tittle{
    color: #8781BD;
    font-size: 4em;
}
@media (max-width: 768px) {
    .mobile-h1 {
        font-size: 2em !important;
    }
    .subtittle{
        font-size: 1.5em !important;
    }
}

/*sidebar redes sociales*/
.aside-left{
    align-items: center;
    border-radius: 7px;
    box-shadow: 3px 3px 10px #3c3c57;
    background-color: #F4989D;
    width: 300px;
}
#links-redes{
    display: flex;
    justify-content: center;
}
.aside-left img{
    width: 50px;
    height: 50px;
    margin: 5px;
}
.animed:hover, #image-box img:hover{
    --webkit-transform:scale(1.3);transform:scale(1.3);
    --moz-transform:scale(1.3);transform:scale(1.3);
    --ms-transform:scale(1.3);transform:scale(1.3);
    --o-transform:scale(1.3);transform:scale(1.3);
    --webkit-transition: all .3s ease-in-out;
    --moz-transition: all .3s ease-in-out;
    --ms-transition: all .3s ease-in-out;
    --o-transition: all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
#redes{
    background-color: #4896f5;
    font-size: 1em;
    width: 100%;
    height: 3em;
    padding-top: 0.5em;
    text-align: center;
    color: aliceblue;
}

.subtittle{
    font-size: 2em;
    font-weight: 500;
    margin-top: 1em;
    text-align: center;
    color: #8781BD;
}

.image img{
    border:#8781BD solid 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #443f5b;
}

/*sidebar noticias*/

.aside-right{
    font-family: 'Helvetica Neue', sans-serif;

    background-color: #FFF;
}
#news{
    background-color: #4896f5;
    width: 100%;
    height: 2em;
    border: solid 1px #1e4371;
    border-bottom: 0em;
    border-radius: 4px 4px 0 0;
    text-align: center;
    color: aliceblue;
}
.mas{
    color: #8781BD;
    text-decoration: underline;
    margin-left: 0.4em;
}
.news h4{
    color: coral;
    margin: 1em 0.2em 0.3em 0.3em;
}
.news p{
    margin-left: 0.7em;
}
a {
    text-decoration: none;
    color: rgb(221, 244, 235);
}
li{
    list-style: none;
}
.indice{
    background-color: aliceblue;
    padding: 1em;
    width: 50%;
    margin-top: 2em;
}
.indice a{
    color: #4896f5;
}

/* sección colabora */
#image-box{
    margin-top: 2em;
    overflow:hidden;
    }
 .titulo-link{
    color: #8781BD;
    display: flex;
    justify-content: center;
 }   

 .seccion, #link-box{
    background-color: aliceblue;
    box-shadow: 3px 3px 10px #3c3c57;
 }
.seccion a{
    color: #4896f5;
    text-decoration: underline;
}

#link-box div{
    width: 150px;
    height: 60px;
    margin: 10px;
    padding-top: 2em;
    background-color: #4896f5;
    border: 2px solid #1e3f68;
    border-radius: 100px;
    box-shadow:2px 2px 5px rgb(74, 73, 73);
    text-align: center;  
}
#link-box div:hover{
    background-color: #3267a7;
    box-shadow:0px 0px 2px rgb(74, 73, 73);
}
#link-box a{
    font-size: 1em;
}
.modal-content{
    background-color: aliceblue;
}
.coral{
    color: coral;
    font-weight: bold;
    font-size: 1em;
}
footer img{
    width: 40px;
    height: 40px;
    margin: 5px;
}